/* body{
	background-color: #f4f4f4;
	margin: 0;
}

ul,
li,

h3,
p {
  margin: 0px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ebebeb;
}

li {
  list-style-type: none;
}

img {
  vertical-align: bottom;
}


.sidebar{
	height: 100vh;
	width: 300px;
	text-align: center;
	float: left;
	background-color: black;
	
	
	
}

.mysidebar h2{
	color: #ffffff;
	width: 120px;
	text-align: center;
	margin-left: 80px;
	border: 3px solid #ffffff;
	line-height: 40px;
	
	
	
}
.mysidebar a{
	display: block;
	color: #222222;

}

.content{
	padding: 10px;
	width: 300px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	
}

.content img{
	width: calc((100% -20px)/6);

	
} */




body,
ul,
li,
h3,
p {
  margin: 0px;
  padding: 0;
}

a {
  text-decoration: none;
  color: gray;
}

li {
  list-style-type: none;
}

img {
  vertical-align: bottom;
}

/*
	1. 배경색 f4f4f4를 설정하고
	큰 향수 이미지를 배경 이미지로 붙여주세요.

    2. Sidebar를 만들어주세요.
	너비값 300px

	3. 메뉴에 hover하면 배경색을 검정색으로 바꿔주세요. 

	4. 콘텐츠 영역을 만들어주세요.
	너비값은 1000px

	6. 태블릿 1024px 이하일때 반응형으로 바꿔주세요

	7. 모바일 786px 이하일때 반응형으로 바꿔주세요
*/

body {
	background-color: #f4f4f4;
	background-image: url('images/big-perfume.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 35%;
}

.sidebar {
	background-color: #222;
	width:300px;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
}

.sidebar .logo {
	display: block;
	width:200px;
	height:60px;
	background-image: url('images/logo.png');
	text-indent: -9999px;
	margin:50px auto;
}

.sidebar ul {
	text-align: center;
	margin-bottom: 30px;
}
.sidebar ul li {}
.sidebar ul li a {
	display: block;
	height: 30px;
	line-height: 30px;
}

.sidebar ul li a:hover{
	background-color: rgba(0, 0, 0, 0.5);
	
	
}
/* 
최대 너비값 1000px
min-width, max-height,min-height
*/
.contents{

	width: 1000px;
	
	margin-left: 300px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	

}

.contents li{
	/* margin-left: 20px; */
	/* float: left; */
	/* display: flex;
	margin-bottom: 20px; */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	position: relative;
	
	
}
.contents li .dese{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: aqua;
	text-align: center;
	width: 100%;
	padding: 20px 0;
	color: #8e4389;
	background: linear-gradient(90deg,rgba(117, 214, 255, 1) 0%, 
	rgba(87, 199, 133, 1) 50%,
	 rgba(237, 221, 83, 1) 100%);
		
	
}

/* 태블릿 */

@media(max-width:1024) {


}
/* 모바일 */

@media(max-width:768px) {

}